footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EFEFEF;
  height: 50px;

  bottom: 0;
  position: fixed;
  width: 100%;
}

footer button {
  border: none;
  height: 40px
}
